table {
     width: 100%; 
  }
  .mat-elevation-z8{
      /* height: 400px;
      width: 550px;
      max-width: 100%; 
      overflow: auto; */

       height: 400px;
  
      overflow: auto; 
     } 
    
