  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon style="color:black;">mail_outline</mat-icon>
        <span>ranabiren06@gmail.com</span>
      </button>
      <button mat-menu-item >
        <mat-icon color="primary">admin_panel_settings</mat-icon>
        <span>Biren Rana</span>
      </button>
    </mat-menu>
    
  
    <span>Covid19 Tracker</span>
    <span class="example-spacer"></span>
    
  
    <!-- <img width="35px" height="35px" src="./assets/co1.jpg"/> -->
  
   
  </mat-toolbar>

<div></div>
&nbsp;&nbsp;
&nbsp;&nbsp;<mat-form-field>
  
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table matTableExporter [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Country Name </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="cases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cases </th>
      <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="todayCases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Today Cases </th>
      <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="deaths">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Death </th>
      <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
    </ng-container>
  
     <!-- Position Column -->
     <ng-container matColumnDef="todayDeaths">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Today Death </th>
        <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="recovered">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recovered </th>
        <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="critical">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Critical </th>
        <td mat-cell *matCellDef="let element"> {{element.critical}} </td>
      </ng-container>

       <!-- Position Column -->
    <ng-container matColumnDef="casesPerOneMillion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases/1M </th>
        <td mat-cell *matCellDef="let element"> {{element.casesPerOneMillion}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="deathsPerOneMillion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Death/1M </th>
        <td mat-cell *matCellDef="let element"> {{element.deathsPerOneMillion}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="tests">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total test </th>
        <td mat-cell *matCellDef="let element"> {{element.tests}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="testsPerOneMillion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Test/1M </th>
        <td mat-cell *matCellDef="let element"> {{element.testsPerOneMillion}} </td>
      </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;sticky: true"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 40, 50, 75 , 90]" showFirstLastButtons></mat-paginator>
</div>